
<div class="container">
  <div class="col align-items-center">
    <div class="row-10 text-center">
        <div class="mt-5 shadow p-2 rounded align-items-center">
            <div class="align-items-center pb-4">
                  <figure class="blog_post_image-container"><img src="/img/progress.gif" class="deferred_image is-loaded" alt="Rolling circle loading animation"></figure>

            </div>
            <div class="text-center social-btn pt-4 ">
                <form action="/relatorio" method="GET">
                   <button class="btn btn-danger">Finalizar</button>     
                </form>
            </div>  
        </div>  
    </div>
  </div>
</div>